In [1]:
import ml_utils as mt
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.shape

(40432, 4)

In [4]:
df['label'].value_counts()

label
CG    20216
OR    20216
Name: count, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40432 entries, 0 to 40431
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  40432 non-null  object
 1   rating    40432 non-null  float64
 2   label     40432 non-null  object
 3   text_     40432 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.2+ MB

In [6]:
df.isnull().sum()

category    0
rating      0
label       0
text_       0
dtype: int64

In [7]:
df['category'].value_counts()

category
Kindle_Store_5                  4730
Books_5                         4370
Pet_Supplies_5                  4254
Home_and_Kitchen_5              4056
Electronics_5                   3988
Sports_and_Outdoors_5           3946
Tools_and_Home_Improvement_5    3858
Clothing_Shoes_and_Jewelry_5    3848
Toys_and_Games_5                3794
Movies_and_TV_5                 3588
Name: count, dtype: int64

In [8]:
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [9]:
def label(col):
    dir = {
        "CG" : 0,
        "OR" : 1,
    }
    
    col = col.map(dir)
    return col

In [10]:
cat_to_dummies = ['category']
simple_num = ['rating']
custom_func_dict = {
    'label': label
    }
text_feat=['text_']

In [11]:
data_pipe = mt.DataPipe(simple_num=simple_num,
                        cat_to_dummies=cat_to_dummies,
                        custom_func_dict=custom_func_dict,
                        text_feat=text_feat)

In [12]:
data_pipe.fit(df)

d:\Programming\IdentifyFakeProductReview\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])

In [13]:
df_transformed = data_pipe.transform(df)

d:\Programming\IdentifyFakeProductReview\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])

In [14]:
df_transformed.shape

(40432, 211)

In [15]:
df_transformed.to_csv("df_transformed.csv", index=False)